body {
    font-family: Arial, sans-serif;
    background-color:darkslategrey;
    margin: 0;
    padding: 0;
}
.redefinir_senha {
    width: 240px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 3px solid rgb(199, 178, 178);
    box-shadow: 0 0 2px rgb(90, 3, 3),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1), 
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 4px;
    position: relative;
    top: 5rem;
}
h2 {
    border-bottom: 2px solid rgb(196, 161, 161);
    border-right: 2px solid rgb(196, 161, 161);
    box-shadow: 0 0 2px rgb(199, 38, 38),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1), 
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 4px;
    color: rgb(39, 68, 68);
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
}

input[type="email"]{
    display: block;
    width: 90%;
    font-weight: bold;
    height: 1.1rem;
    padding: 3px;
    border: 1px solid rgb(196, 161, 161);
    border-bottom: 2px solid rgb(196, 161, 161);
    border-right: 2px solid rgb(196, 161, 161);
    box-shadow: 0 0 4px rgb(196, 161, 161),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1), 
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 1px;
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
    outline: none;
    position: relative;
    top: 1rem;
    
}
.redefinir_senha input[type="submit"] {
    width: 40%;
    height: 30%;
    position: relative;
    font-size: 15px;
    top: 2.5rem;
    left: 4rem;
    padding: 3px;
    border: 1px solid rgb(196, 161, 161);
    border-bottom: 2px solid rgb(196, 161, 161);
    border-right: 2px solid rgb(196, 161, 161);
    box-shadow: 0 0 1px rgb(196, 161, 161),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1), 
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    font-weight: bold;
}
.redefinir_senha input[type="submit"]:hover {
    background-color: rgb(199, 178, 178);
    color: black;
}